<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1073182570812-ahlagk0jju7p3ijlfhhqbeci16df9c49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073182570812-ahlagk0jju7p3ijlfhhqbeci16df9c49</string>
	<key>API_KEY</key>
	<string>AIzaSyDpN8bNICYQO17p5g83L6hsFFaCbw14W6U</string>
	<key>GCM_SENDER_ID</key>
	<string>1073182570812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gideonubaldo.Twideo</string>
	<key>PROJECT_ID</key>
	<string>twideo-56273</string>
	<key>STORAGE_BUCKET</key>
	<string>twideo-56273.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073182570812:ios:684b7f022c7ef3bb</string>
	<key>DATABASE_URL</key>
	<string>https://twideo-56273.firebaseio.com</string>
</dict>
</plist>